body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #AFB42B;
}

.header {
    display: flex;
    width: 65%;
    margin: 7% auto 0;
    margin-bottom: 15px;
    justify-content: space-between;
}

.avatar {
    display: inline-block;
    vertical-align: text-bottom;
    max-height: 50px;
}

.logo {
    display: inline-block;
    margin-top: 17.5px;
    text-align: left;
    vertical-align: text-bottom;
    padding-left: 10px;
}

.align-left {
    display: flex;
    padding: 8px;
    align-items: center;
}

.tu-cuenta {
    padding-left: 24px;
    margin: 0;
    margin-left: -30px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: #2a333d;
    
}



#nombre {
    display: inline-block;
    margin-top: 34px;
    margin-right: 10px;
    overflow: hidden;
    font-size: 1.3em;
    font-weight: 500;
    text-overflow: ellipsis;
    color: #212121;
}

.links {
    position: relative;
    display: block;
    padding: 0;
    margin: 20px 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    text-align: left;
    vertical-align: text-bottom;
    color: #757575;
    border: 0;
    background-color: transparent;
}

.links:hover {
    margin-left: 10px;
    color: #8BC34A;
}

.white-container {
    display: flex;
    width: 65%;
    padding: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    
    border: 1px solid #8BC34A;
    border-radius: 8px;
    background-color: #fafafa;
    
    justify-content: center;
}

.green-container {
    display: flex;
    width: 65%;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    background-color: #F0F4C3;
    
    align-items: center;
}

.cuenta-info {
    display: block;
    width: 100%;
    color: #212121;
}

.menu-container {
    display: block;
    width: 35%;
    padding-right: 20px;
}

.cuenta-container {
    width: 35%;
}

#saldo-cuenta {
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;

    font-size: 6.5vw;

    text-align: center;
    text-overflow: ellipsis;
}

#limite-extraccion {
    overflow: hidden;

    font-size: 15px;

    text-overflow: ellipsis;
}

@media only screen and (max-width: 800px) {
    .white-container {
        flex-direction: column-reverse;
    }

    .green-container {
        width: 100%;
        margin-bottom: 20px;
    }

    #saldo-cuenta {
        font-size: 8.5vw;
    }

    .menu-container {
        width: 100%;
    }

    .header {
        margin-bottom: 10px;
        flex-direction: column;

        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }
}

.footer {
    width: 97%;
    height: 60px;
    text-align: center;
    padding: 1em;
}

.boton {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.2em;
    background: #333a45;
    border: 2px solid;
    border-color: #333a45;
    position: relative;
    border-radius: 42px 42px 42px 42px;
}

.boton:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
    border-radius: 42px 42px 42px 42px;
}

.boton:hover:before {
    width: 100%;
}